<main>

    <div class="card">
        <div>
            <h1>Temperatura</h1>
        </div>
        <img src="../../../assets/temperature.png" alt="">
        <div class="numeracao">
            <p>20</p>
            <p class="simbolo">oC</p>
        </div>
    </div>
    <div class="card">
        <div>
            <h1>Umidade</h1>
        </div>
        <img src="../../../assets/humidity.png" alt="">
        <div class="numeracao">
            <p>23</p>
            <p class="simbolo">%</p>
        </div>
    </div>
    <div class="card">
        <div>
            <h1>Pressão</h1>
        </div>
        <img src="../../../assets/barometer.png" alt="">
        <div class="numeracao">
            <p>35</p>
            <p class="simbolo">atm</p>
        </div>
    </div>

</main>